#pip freeze > requirements.txt => These are the packages which are used in this project and will be needed to run the program

alembic
annotated-types
anyio
bcrypt
certifi
cffi
click
colorama
cryptography
dnspython
ecdsa
email_validator
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
orjson
passlib
psycopg2
pyasn1
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
PyJWT
python-dotenv
python-jose
python-multipart
PyYAML
rich
rsa
shellingham
six
sniffio
SQLAlchemy
starlette
typer
typing_extensions
ujson
uvicorn
watchfiles
websockets
